@charset "utf-8";
/* base */
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-weight: 500;
  color: #333;
  line-height: 2;
  letter-spacing: 0.1em;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.6s ease;
}

a:hover {
  transition: all 0.6s ease;
}

.content-wrapper {
  width: 95%;
  margin: 0 auto;
  max-width: 1400px;
}

section h2 {
  font-size: 2rem;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-pack: justify;
  -webkit-justify-content: justify;
  align-items: center;
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: 1;
}

header h1 {
  margin: 0 0 0 25px;
  font-size: 2.5rem;
  color: #fff;
}

header ul {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  font-size: 1.2rem;
}

header ul li {
  margin: 0 20px;
}

header ul li a {
  color: #fff;
}

header ul li a:hover {
  opacity: 0.6;
}

header li.phone {
  color: #fff;
  display: block;
  border: 1px solid #fff;
  line-height: 50px;
  padding: 0 25px;
  margin: 0 30px 0 10px;
}

@media screen and (max-width: 1199px) {
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50px;
    transform: translateY(-50%);
    width: 30px;
    height: 26px;
    cursor: pointer;
  }

  header nav {
    display: none;
  }

  .nav-btn,
  .nav-btn span {
    display: inline-block;
  }

  .nav-btn {
    position: relative;
    width: 30px;
    height: 26px;
  }

  .nav-btn span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
  }

  .nav-btn span:nth-of-type(1) {
    top: 0;
  }

  .nav-btn span:nth-of-type(2) {
    top: 11px;
  }

  .nav-btn span:nth-of-type(3) {
    bottom: 0;
  }
}

/* main */
.mainvisual {
  position: relative;
}

.mainvisual img {
  height: 700px;
  object-fit: cover;
  object-position: 0 15%;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
  　　clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
}

.mainvisual h2 {
  position: absolute;
  top: 70%;
  left: 10%;
  transform: translateY(-30%);
  z-index: 1;
  font-size: 5vw;
  color: #fff;
}

@media screen and (max-width: 1199px) {
  .mainvisual img {
    height: auto;
  }
}

/* topics */

.topics {
  padding: 120px;
}

.contents-wrapper {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.topics .heading {
  width: 35%;
}

.topics .content {
  width: 65%;
}

.topics .content table {
  width: 100%;
  margin: 0 0 25px 0;
}

.topics .content th {
  padding: 20px 2em 20px 0;
  border-bottom: 1px dotted;
}

.topics .content td {
  border-bottom: 1px dotted;
}

.topics .content tr:last-of-type th,
.topics .content tr:last-of-type td {
  border-bottom: none;
}

.topics .content .btn {
  margin: 0;
}

.topics .content .btn a {
  display: block;
  font-size: 0.8rem;
  border: 1px solid #000;
  width: 200px;
  text-align: center;
  line-height: 60px;
  color: #000;
  margin: 0 0 0 auto;
}

.topics .content .btn a:hover {
  background-color: #333;
  color: #fff;
}

@media screen and (max-width: 1199px) {
  .topics {
    padding: 50px 5vw;
  }

  .topics .content-wrapper {
    display: block;
  }

  .topics .heading {
    width: 100%;
  }

  .topics .heading h2 {
    text-align: center;
    margin-bottom: 5vw;
  }

  .topics .content {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .topics {
    padding: 50px 0;
    width: 90%;
    margin: 0 auto;
  }

  .topics .content .btn a {
    width: 35%;
    min-width: 200px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 479px) {
  .topics .content th {
    display: block;
    width: 100%;
    text-align: left;
    padding: 1.25em 0 0 0;
    border-bottom: 0;
  }

  .topics .content td {
    display: block;
    width: 100%;
  }
}

/* whatme */

.whatme {
  background: url(images/20200621_151245000_iOS.jpg);
  background-size: cover;
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  position: relative;
  z-index: 1;
}

.whatme::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.whatme .content {
  z-index: 2;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}

.whatme h2 {
  color: #fff;
  text-align: left;
}

.whatme p {
  color: #fff;
  margin-bottom: 70px;
  text-align: left;
}

.whatme p.btn {
  margin: 0;
}

.whatme a {
  display: block;
  color: #fff;
  border: 1px solid #fff;
  width: 200px;
  text-align: center;
  line-height: 60px;
  font-size: 0.875rem;
}

.whatme a:hover {
  color: #333;
  background: #fff;
}

@media screen and(max-width: 479px) {
  .whatme .content {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .whatme h2,
  p {
    text-align: center;
  }

  .whatme a {
    width: 30%;
    min-width: 200px;
    margin: 0 auto;
  }
}

/* programing */

.programing {
  padding: 10% 0;
  position: relative;
}

.programing::after {
  content: "";
  z-index: -1;
  background-color: #f3f3f3;
  height: 150%;
  width: 40%;
  top: -10%;
  left: 30%;
  transform-origin: left top;
  transform: skewX(-30deg);
}

.programing .content-wrapper ul {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-pack: justify;
  -webkit-justyfy-content: space-between;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  transform: skewY(2deg);
}

.programing ul li {
  width: 48%;
  position: relative;
}

.programing ul li figure::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: rgba(50, 50, 50, 0.7);
  padding-top: 43%;
  transition: all 0.6s ease;
}

.programing .content-wrapper span {
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  color: #fff;
  font-weight: 2rem;
  transform: translate(-50%, -50%) skewY(-2deg);
}

.programing ul li a:hover figure::after {
  background: rgba(50, 50, 50, 0.4);
  transition: all 0.6s ease;
}

@media screen and (max-width: 767px) {
  .programing ul {
    transform: none;
  }

  .programing li span {
    transform: translate(-50%, -50%);
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 479px) {
  .programing ul li {
    width: 90%;
    margin: 0 auto 20px auto;
  }
}

/* contact */

.contact {
  background: url(images/20200621_151408000_iOS.jpg);
  background-size: cover;
  height: 500px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.contact::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.contact ul {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
}

.contact li {
  width: 300px;
  margin: 0 50px;
}


.contact li a {
  border: 1px solid #fff;
  font-size: 1.25rem;
  color: #fff;
  display: block;
  text-align: center;
  padding: 1em 0;
}

.contact li a:hover {
  background: #fff;
  color: #333;
}

/* footer */

footer section{
  padding-top: 120px;
}

footer .high {
  border-bottom: 1px solid #333;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: flex-end;
}

footer .high h1{
  font-size: 1.5rem;
}

footer ul {
  display: flex;
  margin-bottom: 25px;
  display: -ms-flexbox;
  display: -webkit-flex;
}

footer .high li a {
  color: #333;
  padding: 0 25px;
}

footer .high a:hover{
  opacity: 0.6;
}

footer .low {
  padding: 25px 0 80px 0;
  color: #333;
}

footer p {
  text-align: center;
  color: #333;
  font-size: 0.75rem;
}

@media screen and (max-width: 1199px) {
  .footer .high {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .footer section {
    padding-top: 50px;
  }

  .footer .high li {
    width: calc(100%/3);
    margin: 0 0 10px;
  }

  .footer .high li a {
    display: block;
    text-align: center;
    padding: 0;
  }
}

@media screen and (max-width: 479px) {
  .footer .high h1,.low {
    text-align: center;
  }
}
