@charset "utf-8";

/* base */

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  line-height: 2.0;
}

h1,h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* header */

header{
  width: 960px;
  margin: 0 auto;
  
}

.headerwrapper img{
  width: 239px;
  height: 53px;
  margin-left: 27px;
}

.headerwrapper ul {
  display: flex;
}

.headerwrapper ul li{
  font-size: 13px;
  margin-right: 42px;
}


.headerwrapper ul li:last-of-type{
  margin-right: 0;
}

.headerwrapper a {
  color: #434343;
  display: inline-block;
}

.headerwrapper a:hover{
  opacity: 0.5;
  border-bottom: 1px solid #434343;
  margin-bottom: -1px;
}

/* main */
.mainimg{
  background-image: url(images/20200618_172012000_iOS.png);
  height: 500px;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
}

.mainwrapper {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.mainwrapper ul {
  display: flex;
  justify-content: space-between;

}

.mainwrapper li {
  width: 300px;
}

.mainwrapper p{
  height: 100px;
}

/* goodswrapper */
.goodswrapper iframe{
  width: 100%;
  height: 500px;
  margin-top: 50px;
}




/* footer */

footer{
  width: auto;
  height: 100px;
}

footer p {
  text-align: center;
  color: #dcdddf;
  font-size: 13px;
  line-height: 100px;
}
